.container{
    box-shadow: 0 0 20px rgb(235, 107, 128);
    margin: 0px auto;
    width: 500px;
    height: 500px;
    background-color: rgb(212, 206, 206);
} 
.container form{
    padding: 5px;
    margin: 30px;
}
.form-group{
    margin: 10px 0px;
}
.form-group-labe{
    font-weight: bold;
    font-variant: small-caps;
}
.form-control{
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    width: 97%;
}
.form-control1{
    width: 480px;
    height: 60px;
}
.form-control:focus{
    background-color: yellow;
    box-shadow: 0 0 3px red;
    border: 1px solid red;
}
.form-buttom{
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow:inset 0 0 20px blue;
}
.form-buttom a{
    text-decoration: none;
    color:red;
}
.form-buttom a:hover{
    color: aqua;
    
}
