
.container{
    box-shadow: 0 0 20px rgb(235, 107, 128);
    margin: 0 auto;
    width: 500px;
    height: 250px;
    background-color: rgb(212, 206, 206);
} 
.container form{
    padding: 5px;
    margin: 30px;
}
.form-group{
    margin: 10px 0px;
}
.form-group-labe{
    font-weight: bold;
    font-variant: small-caps;
}
.form-control{
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    width: 97%;
}
.form-control1{
    width: 480px;
    height: 20px;
}
.form-control:focus{
    background-color: yellow;
    box-shadow: 0 0 3px red;
    border: 1px solid red;
}
.form-buttom{
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: orangered;
    box-shadow:inset 0 0 20px rgb(0, 255, 38);
}
.form-buttom:disabled{
    color: rgb(196, 151, 151);
    box-shadow: inset 0 0 20px rgb(176, 113, 113);
}
.form-buttom a{
    text-decoration: none;
    color: rgb(255, 0, 98);
}
.form-buttom a:hover{
    transition: .5s;
    color: rgb(24, 24, 20);
}
footer{
    
    clear: both;
    border-top: 5px double #f983b6  ;
    line-height: 18px;
    background-color: rgb(43, 49, 49);
    text-align: center;
    font-variant: small-caps;
   color: #f983b6;
   text-shadow: 0 0 5px #f983b6;
}   